<div class='ui attached message'>
  <div class='header'>
    Add Student
  </div>
</div>

<%= form_for @student_cohort, :html => {:class => "ui form attached fluid segment"} do |f|%>

<div class="">
  <%= f.label :student_id, 'Select Student:' %><br>
  <%= f.select :student_id, options_for_select(@students.collect {|i| [ i.f_name, i.id ] }, {include_blank: 'Select Student'})%>
</div>

    <br>

    <div class="">
      <%= f.label :cohort_id, 'Select :' %><br>
      <%= f.select :cohort_id, options_for_select(@cohorts.collect {|c| [ c.name, c.id ] }, {include_blank: 'Select Cohort'})%>
    </div>

    <br>

    <div>
    <%= f.submit "Add"%>
    </div>

<% end %>
