<div class='main ui container'>

 <div class="ui text container">
    <h3 class="ui block header">
      Students - Cohorts
    </h3>
   <table class="ui blue table">
     <thead>
       <tr>
         <th>Student</th>
         <th>Cohort</th>
         <th>Edit</th>
         <th>Delete</th>
     </tr>
   </thead>
   <tbody>
     <% @students_cohorts.each do |student_cohort|%>
          <tr>
            <td> <%= student_cohort.student.f_name %> <%= student_cohort.student.l_name %> </td>
            <td><%= student_cohort.cohort.name %> <%= student_cohort.cohort.start_date %> - <%= student_cohort.cohort.end_date %></td>
            <td> <%=link_to 'Edit', edit_students_cohort_path(student_cohort), class: 'ui primary basic button'%> </td>
            <td> <%=link_to 'Delete', edit_students_cohort_path(student_cohort), 'data-method': 'DELETE', remote: true, class: 'delete-course ui negative basic button', data: { confirm: 'Are you sure?' }  %> </td>
          </tr>

       </div>

     <%end%>
     </tbody>
   </table>
  <a class='ui primary button' href="<%=new_students_cohort_path%>">Add Student</a>
 </div>
