<h3>Student - Cohort Details</h3>

<div class="">First Name: <%=@student_cohort.student.f_name%> </div>

<div class="">Last Name: <%=@student_cohort.student.l_name%> </div>

<div class="">Date Of Birth: <%=@student_cohort.student.date_of_birth%> </div>
<br>
<div class="">Cohort Name: <%=@student_cohort.cohort.name%> </div>

<div class="">Start Date: <%=@student_cohort.cohort.start_date%> </div>

<div class="">End Date: <%=@student_cohort.cohort.end_date%> </div>
