<div class="ui text container">
  <h2 class="ui horizontal header divider"> Welcome </h2>
</div>

<h1 class="ui horizontal header divider"><%= @user.username %></h1>

<br>
<br>
<br>
<div class="ui text container">

<div class="two ui button container">

    <%=link_to "Add Instructor To Cohorts", instructors_cohorts_path,class: "ui primary button"%>
    <%=link_to "Add Students To Cohorts", students_cohorts_path,class: "ui primary button"%>

</div>

<br>

  <div class="ui three statistics">

    <div class="blue statistic">
        <div class="value">
          <%= @students.count %>
        </div>
        <div class="label">
          Students
        </div>
      </div>
      <div class="teal statistic">
        <div class="value">
          <%= @instructors.count %>
        </div>
        <div class="label">
          Instructors
        </div>
      </div>
      <div class="gray statistic">
        <div class="value">
         <%= @courses.count %>
        </div>
        <div class="label">
          Courses
        </div>
      </div>

  </div>

<br>

</div>

<div class='ui container'>
  <table class="ui striped blue table">
    <thead>
      <tr>
        <th>Cohort</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Student</th>
        <th>Instructor</th>
        <th>Course</th>
      </tr>
    </thead>
    <div class="">
      <tbody>
        <% @cohorts.each do |cohort|%>
        <tr>
          <td><%= cohort.name %></td>
          <td><%= cohort.start_date %></td>
          <td><%= cohort.end_date %></td>
          <td>
            <% cohort.students.each do |s| %>
              <%= "#{s.f_name} #{s.l_name}, " %>
            <% end %>
          </td>
          <td>
            <% cohort.instructors.each do |i| %>
              <%= "#{i.f_name} #{i.l_name}, " %>
            <% end %>
          </td>
          <td>
            <%= "#{cohort.course.name} - #{cohort.course.classhours}" %>
          </td>
        </tr>

        <!-- <%=link_to 'View', cohort_path(cohort)%>
        <%=link_to 'Delete',cohort_path(cohort), 'data-method': 'DELETE', data: { confirm: 'Are you sure?' }  %> -->

      <%end%>
    </tbody>
    </div>


  </table>
  </div>
