<h3>Instructor - Cohort Details</h3>

<div class="">First Name: <%=@instructor_cohort.instructor.f_name%> </div>

<div class="">Last Name: <%=@instructor_cohort.instructor.l_name%> </div>

<div class="">Last Name: <%=@instructor_cohort.instructor.salary%> </div>

<div class="">Date Of Birth: <%=@instructor_cohort.instructor.date_of_birth%> </div>
<br>
<div class="">Cohort Name: <%=@instructor_cohort.cohort.name%> </div>

<div class="">Start Date: <%=@instructor_cohort.cohort.start_date%> </div>

<div class="">End Date: <%=@instructor_cohort.cohort.end_date%> </div>
