<div class='ui attached message'>
  <div class='header'>
    Cohort
  </div>
</div>


<%= form_for @cohort, :html => {:class => "ui form attached fluid segment"} do |f|%>

    <div>
      <%= f.label :name, 'Name Of The Cohort:' %><br>
      <%= f.text_field :name %><br>
    </div>

    <br>

    <div>
      <%= f.label :start_date, 'Start Date:' %><br>
      <%= f.date_field :start_date %><br>
    </div>

    <br>

    <div>
      <%= f.label :start_date, 'End Date:' %><br>
      <%= f.date_field :end_date %><br>
    </div>

    <br>

    <div class="">
      <%= f.label :course_id, 'Select Course:' %><br>
      <%= f.select :course_id, options_for_select(@courses.collect {|c| [ c.name, c.id ] }, {include_blank: 'Select Course'})%>
    </div>

    <br>

    <div>
    <%= f.submit %>
    </div>

<% end %>
