
<div class='main ui container'>



 <div class="ui text container">
    <h3 class="ui block header">
      Cohort
    </h3>

   <table class="ui blue table">
     <thead>
       <tr>
         <th>Cohort Name</th>
         <th>Start Date</th>
         <th>End Date</th>
         <th>Course</th>
         <th>Edit</th>
         <th>Delete</th>
     </tr>
   </thead>
   <tbody>
     <% @cohorts.each do |cohort|%>
          <tr>
            <td> <%= cohort.name %>  </td>
            <td> <%= cohort.start_date %> </td>
            <td> <%= cohort.end_date %> </td>
            <td> <%= cohort.course.name %> </td>
            <td> <%=link_to 'Edit', edit_cohort_path(cohort), class: 'ui primary basic button'%> </td>
            <td> <%=link_to 'Delete', cohort_path(cohort), 'data-method': 'DELETE', remote: true, class: 'delete-course ui negative basic button', data: { confirm: 'Are you sure?' }  %> </td>
          </tr>
       </div>

     <%end%>
     </tbody>
   </table>
   <a class = 'ui primary button' href="<%=new_cohort_path%>">Create New Cohort</a>


 </div>
</div>




<!--
<% @cohorts.each do |cohort|%>
  <div class="main-cohort">
    <div class="">
      Cohort Name: <%= cohort.name %>
    </div>
    <div class="">
      Start Name: <%= cohort.start_date %>
    </div>
    <div class="">
      End Name: <%= cohort.end_date %>
    </div>


  </div>

  <%=link_to 'View', cohort_path(cohort)%>
  <%=link_to 'Edit', edit_cohort_path(cohort)%>
  <%=link_to 'Delete', cohort_path(cohort), 'data-method': 'DELETE', remote: true, data: { confirm: 'Are you sure?' }  %>

<%end%> -->
