<h2 class="ui horizontal header divider">Students</h2>
<br>
<br>

<div class="ui container">

  <div class="ui button container">

    <a href="<%=new_student_path%>" class="ui primary button">Create New Student</a>

  </div>

  <div class="yield">
    <div class="main ui cointainer">

      <div class="ui cards three">
        <% @students.each do |student|%>
        <div class="card main-instructor">
          <div class="content">
            <!-- <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg"> -->
            <i class="right floated huge user circle icon"></i>
            <div class="header">
              <%= "#{student.f_name}  #{student.l_name}" %>
            </div>
            <div class="description">
              Date Of Birth: <%= student.date_of_birth %><br>
              Highest Completed Education: <%= student.highest_completed_education %>
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <%=link_to 'Edit', edit_student_path(student), class: "ui basic blue button"%>
              <%=link_to 'Delete',student_path(student), 'data-method': 'DELETE', class: "ui basic red button", remote: true, data: { confirm: 'Are you sure?'}  %>
            </div>
          </div>
        </div>
        <%end%>
      </div>

    </div>
  </div>


</div>
