<h2 class="ui horizontal header divider">Instructors</h2>
<br>
<br>
<div class="ui container">

  <div class="ui button container">

    <a href="<%=new_instructor_path%>" class="ui primary button" >Create New Instructor</a>

  </div>

<div class="yield">
  <div class="main ui cointainer">

    <div class="ui cards three">
      <% @instructors.each do |instructor|%>
      <div class="card main-instructor">
        <div class="content">
          <!-- <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg"> -->
          <i class="right floated huge user circle icon"></i>
          <div class="header">
            First Name: <%= instructor.f_name %>
          </div>
          <div class="meta">
            Last Name: <%= instructor.l_name %>
          </div>
          <div class="description">
            Date Of Birth: <%= instructor.date_of_birth %><br>
            Salary: <%= instructor.salary %><br>
            Highest Completed Education: <%= instructor.highest_completed_education %>
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <%=link_to 'Edit', edit_instructor_path(instructor), class: "ui basic blue button"%>
            <%=link_to 'Delete',instructor_path(instructor), 'data-method': 'DELETE', class: "ui basic red button", remote: true, data: { confirm: 'Are you sure?'}  %>
          </div>
        </div>
      </div>
      <%end%>
    </div>

    </div>
  </div>
</div>
