


<div class='main ui container'>

 <div class="ui text container">
    <h3 class="ui block header">
      Courses
    </h3>
   <table class="ui blue table">
     <thead>
       <tr>
         <th>Course Name</th>
         <th>Hours</th>
         <th>Edit</th>
         <th>Delete</th>
     </tr>
   </thead>
   <tbody>
     <% @courses.each do |course|%>
          <tr>
            <td> <%= course.name %>  </td>
            <td> <%= course.classhours %> </td>
            <td> <%=link_to 'Edit', edit_course_path(course), class: 'ui primary basic button'%> </td>
            <td> <%=link_to 'Delete', course_path(course), 'data-method': 'DELETE', remote: true, class: 'delete-course ui negative basic button', data: { confirm: 'Are you sure?' }  %> </td>
          </tr>

         <!-- <%=link_to 'View', course_path(course)%> -->
       </div>

     <%end%>
     </tbody>
   </table>
  <a class='ui primary button' href="<%=new_course_path%>">Create New Course</a>
 </div>


<!-- <% @courses.each do |course|%>
  <div class="">
    <div class="">
      First Name: <%= course.name %>
    </div>
    <div class="">
      Last Name: <%= course.classhours %>
    </div>
    <%=link_to 'View', course_path(course)%>
    <%=link_to 'Edit', edit_course_path(course)%>
    <%=link_to 'Delete', course_path(course), 'data-method': 'DELETE', remote: true, class: 'delete-course', data: { confirm: 'Are you sure?' }  %>

  </div>

<%end%> -->
