<h3>Instructor Details</h3>

<div class="">First Name: <%=@instructor.f_name%> </div>

<div class="">Last Name: <%=@instructor.l_name%> </div>

<div class="">Last Name: <%=@instructor.salary%> </div>

<div class="">Date Of Birth: <%=@instructor.date_of_birth%> </div>

<div class="">Highest Completed Education: <%=@instructor.highest_completed_education%> </div>
